name: PR Tests

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run tests with devtool
        env:
          PYTEST_ADDOPTS: "-n 2"
        run: |
          ./tools/devtool -y test -- integration_tests/functional/ -k "not vmlinux-5.10"
